[Unit]
Description=WebSSH — Web-based SSH client with WebSocket terminal
After=network.target

[Service]
Type=simple
User=vmorozov
Group=vmorozov
WorkingDirectory=/home/vmorozov/DEV/web_ssh-main
ExecStart=/home/vmorozov/DEV/web_ssh-main/webssh -p 3400
Restart=on-failure
RestartSec=5

# Эти строки можно добавить для минимальной безопасности, но они не должны вызывать 226:
PrivateTmp=no
PrivateNetwork=no
ProtectSystem=no
ProtectHome=no
NoNewPrivileges=no
DynamicUser=no

[Install]
WantedBy=multi-user.target
